# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Frontend/Node
node_modules/
dist/
.eslintcache

# Environment & Secrets
.env
.env.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
